/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* .................................

            GLOBAL STYLES 

   .................................
*/
/*RESET HTML, BOOTSTRAP STYLES*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
}

hr {
    opacity: 1;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
  
/* .................................

            HEADER STYLES

   .................................
*/


/* ..................
        BANNER
   ..................
*/
.banner {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #790f29;
  color: #ffffff;
}

/* ..................
        NAVBAR
   ..................
*/

.navbar {
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

@media screen and (min-width: 992px) {
  .nav_container {
    flex-direction: column;
  }
  .brand-container {
    flex-direction: column;
  }
}

.brand {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: font-size 0.4s ease;
}

.brand-container {
  gap: 1vh;
}

.brand-logo {
  width:30px;
  transition: width 0.4s ease;
}

.navbar-scrolled-logo {
  width: 40px !important;
}

.navbar-scrolled-brand {
  font-size: 20px !important;
}

.navbar-scrolled-brand-container {
  flex-direction: row;
  gap: 1vh;
}

.fa-shopping-cart, .fa-bars {
  font-size: 18px;
  border: none;
}

.fa-shopping-cart:hover {
  color:#790f29;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-link {
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  border-bottom: 2px solid #790f29;
}

.offcanvas hr {
  border-color:#979090;
  background-color: #979090;
  color:#979090;
}

.cart-btn {
  background-color: #ab2143;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
  
.cart-btn:hover {
  background-color: #790f29;
  border: none;
}

@media screen and (min-width: 992px) {
  .brand {
    font-size: 28px;
  }
  .brand-logo {
    width: 60px;
  }
  .fa-shopping-cart, .fa-bars {
    font-size: 25px;
  }
}

/* ..................
        HEADER
   ..................
*/

header {
  background-image: url('../img/wineimage1.jpg');
  background-size: cover;
  background-position: center bottom;
}

.inicio {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 88vh;
}

.inicio h1 {
  text-transform: uppercase;
  font-family: 'Noto Serif Display', serif;
  padding-top: 35vh;
  padding-bottom: 5vh;
}

@media screen and (min-width: 992px) {
  .inicio {
    height: 73vh;
  }
  .inicio h1 {
    font-size: 7vh;
  }
}

/* .................................

            SECTIONS STYLES 

   .................................
*/

section {
  min-height: 50vh;
  padding-top: 3vh;
  padding-bottom: 3vh;;
}

/* ..................
      FIXED BUTTONS
   ..................
*/
.fixed-buttons {
  padding: 0;
  min-height: 0;
}

.fixed-btn {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid white;
  margin-right: calc(0.5rem + 1vh);
  margin-bottom: calc(0.5rem + 1vh);
  text-decoration: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
}

.fixed-btn .fixed-icon{
  color: #fff;
  line-height: 0;
}

.wapp-btn {
  margin-bottom: calc(0.5rem + 1vh);
  background: #34a52e;
}

.back-to-top-btn {
  margin-bottom: calc(4.5rem + 1vh);
  background: #ab2143;
}

.fa-arrow-up {
  font-size: 20px;
}

.wapp-icon {
  font-size: 24px;
}

@media screen and (min-width: 960px) {
  .back-to-top-btn:hover {
    background: #790f29;
    color: #fff;
  }
  .wapp-btn:hover {
    background: #226e1e;
    color: #fff;
  }
}


/* ..................
        PRODUCTS
   ..................
*/
.productos {
  text-align: center;
}

.productos h2 {
  font-family: 'Noto Serif Display', serif;
  text-transform: uppercase;
  padding-bottom: 1vh;
  font-size: 36px;
}

.productos p {
  text-transform: uppercase;
  font-size: 13px;
}

.category {
  background-size: cover;
  color: #ffffff;
  height: 45vh;
  width: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category p {
  font-family: 'Noto Serif Display', serif;
  font-size: 30px;
}

.catbg-1 {
  background-image: url('../img/category1.png');
}

.catbg-2 {
  background-image: url('../img/category3.png');
}

.catbg-3 {
  background-image: url('../img/category2.png');
}

.products__block__item {
  text-align: center;
}
.products__block__item__box {
  width: 15rem;
  height: 20rem;
  text-align: center;
  background-color: #fff;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.products__block__item__box__name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.products__block__item__box__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #acaaaa;
  letter-spacing: 2px;
  font-size: 13px;
}
.products__block__item__box__price {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
  padding-top: 1rem;
}
.products__block__item__box__btn {
  font-size: 11px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3%;
  background-color: #ab2143;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}
.products__block__item__box__btn:hover {
  background-color: #790f29;
  border: none;
}
.products__block__item__box__image-container {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 250px;
}
.products__block__item__box__image-container__img {
  width: 100%;
  height: 9rem;
  margin-bottom: 5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  object-fit: contain;
}

.products__all_products_btn {
  background-color: #ab2143;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.products__all_products_btn:hover {
  background-color: #790f29;
  border: none;
}

@media screen and (min-width: 992px) {
  .category {
    height: 50vh;
    width: 50vh;
  }
  .products__block__item__box {
    height: 21rem;
  }
}

/* ..................
      TASTING
   ..................
*/

.tasting {
  padding: 0 5vw;
}

.tasting a {
  text-decoration: none;
  color:unset;
}

.tasting-title {
  font-family: 'Noto Serif Display', serif;
  text-transform: uppercase;
  padding-bottom: 1vh;
  font-size: 26px;
  text-align: center;
}

.tasting-subtitle {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
}

.tasting-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 26px;
  font-size: 12px;
  color:#5f5f5f;
  text-align: justify;
}

.tasting-bg-img {
  background-image: url('../img/headerbg.jpg');
  background-size: cover;
}

.tasting h3 {
  font-family: 'Noto Serif Display', serif;
  padding-bottom: 1vh;
  font-size: 22px;
  text-align: center;
}

.tasting-cards{
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 36px 18px 36px;
}

.tasting-cards:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.tasting-cards h5 {
  color: #790f29;
  font-weight: 600;
}

.tasting-card-pic {
  height: 70px;
  width: 70px;
  object-fit:contain;
  border-radius: 10%;
}

.tasting-card-top-items{
  flex-direction: column-reverse;
}

@media screen and (min-width: 992px) {
  .tasting-container {
    width: 75vw;
  }
  .tasting-title {
    font-size: 36px;
  }
  .tasting-card-top-items{
    flex-direction: row-reverse;
  }
  .tasting-card-pic{
    height: 80px;
    width: 80px;
}
}

/* ..................
      WINERY
   ..................
*/

.winery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../img/wineshop1.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
}

.winery-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #202020;
  opacity: 0.75;
}

.winery-title {
  font-family: 'Noto Serif Display', serif;
  text-transform: uppercase;
  padding-bottom: 1vh;
  font-size: 36px;
  text-align: center;
}

.winery-description {
  color:white;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  font-style: italic;
  padding: 4.5rem 0;
  text-align: justify;
}

@media screen and (min-width: 992px) {
  .winery-description {
    line-height: 36px;
  }
}

/* ..................
        ABOULT US
   ..................
*/

.about {
  background-color: #f6f6f6;
  width: 85vw;
}

.about-title {
  font-family: 'Noto Serif Display', serif;
  text-transform: uppercase;
  padding-bottom: 1vh;
  font-size: 36px;
  text-align: center;
}

.about-img {
  height: 30vh;
  object-fit: cover;
}

.about-brand {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 0.5vw;
  padding-bottom: 0.3vh;
}

.about-brand-logo {
  width: 35px;
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 26px;
  font-size: 14px;
  color: #5f5f5f;
}

.about-extra-content-img-wrapper {
  position: relative;
  display: block;
  max-width: 100%;
}
.about-extra-content-img-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #790f29;
}

.about-extra-content-img {
  width: 30rem;
}

.about-extra-content-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 26px;
  font-size: 14px;
  color: #5f5f5f;
}

@media screen and (min-width: 992px) {
  .about-extra-content-description, .about-text {
    text-align: justify;
  }
  .about-img {
    height: 60vh;
  }
}

/* .................................

            FOOTER STYLES 

   .................................
*/

footer{
  background-color: #790f29;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

footer h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 2vh;
}

footer p, footer li {
  font-size: 10px;
}

.medios_pago {
  width: 70vw;
}

.data_fiscal {
  width: 30vw;
}

.copyright_banner {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #111111;
}

.copyright_banner a {
  text-decoration: none;
  color: #111111;
  font-weight: 600;
}

.footer__media_icon {
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease;
}

.footer__media_icon:hover {
  color: #979090;
}

.footer__nav {
  list-style: none;
}

.footer__nav__item {
  text-decoration: none;
  color:#ffffff;
  transition: all 0.3s ease;
}

.footer__nav__item:hover {
  color: #979090;
}

@media screen and (min-width: 576px) {
  footer h4 {
    font-size: 16px;
  }
  footer p, footer li {
    font-size: 14px;
  }
  .copyright_banner p {
    font-size: 10px;
  }
  .medios_pago {
    width: 15vw;
  }
  
  .data_fiscal {
    width: 5.5vw;
  }
}